@import url("reset.css");

body {
   color: #2f302c;
   font-family: "Lato", sans-serif;
}

.section {
    margin: 0 auto;
    padding: 0px 10px;
    text-align: center;
}

.title {
     margin-top: 82px;
     text-align: center;
     margin-bottom: 72px;
     font-size: 32px;
     font-weight: 800;
     line-height: 1.25;
}

.items {
    max-width: 1180px;
    margin: 0 auto;
}

.item {
    font-size: 0;
}

.content {
    display: inline-block;
    vertical-align: top;
}

.item_img {
    width: 55px;
    height: 55px;
    margin-bottom: 24px;
}

.item_sub-title {
    margin-bottom: 24px;
    font-size: 16px;
    font-weight: 700;
}

.item_text {
    color: #7e7f7c;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25;
}

.content {
    width: 33.333%;
    margin-bottom: 68px;
    padding: 0 34px;
}